.randomImageContainer {
  height: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overAllGameBodyContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
}

.allTabsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.allTabsListContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  background-color: ;
}

.renderingImagesBasedOnIdContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: '20px';
  width: '60%';
}
